*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.nav-bar{
    display: flex;
}

nav{
    width:100%;
    background-color: rgb(191, 191, 191);
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    
    
}


 ul{
    list-style: none;
    display: flex;
     
 

}
nav{
    width: 100%;
    position: fixed;
}

li{
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    

}
h2{
    color: black;
    margin-right: auto;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.slidebar.hidden{
    right:-250px;
}
a{
    text-decoration: none;
    
color: black;
padding-left: 10px;

}
.slidebar{
    position: fixed;
    height: 100vh;
    width: 200px;
    position: fixed;
    display: flex;
    justify-content: center;
    right:-250px;
    top:0;
    background-color: rgb(204, 207, 204);
    background: transparent;
    backdrop-filter: blur(40px);
    margin: 0 0;
    padding:  0 0;
    
}
.slidebar.active{
right:0;
}

.slidebar ul{
    display: flex;
    flex-direction: column;
    padding: 0 0 ;

}

 li:hover{
background-color: azure;
}
.tag{
    font-size: 30px;
    display: none;
}
#container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    gap:10px;
    
}
.btn{
    cursor: pointer;
    background-color: rgb(108, 179, 233);
    color: aliceblue;
    height: 40px;
    width: 200px;
    border-radius: 7px;
   margin-bottom: 10px;
   
}
.navbar{
background-color: grey;
height: 150px;
width: 100%;
margin-bottom: 30px;
 list-style: none;
  
}

nav{
    display: flex;

}
#logo{
    margin-right: auto;
}
h1{
    font-size: 30px;
    
}
nav ul{
    display: flex;
    text-align: center;
     justify-content: space-evenly;
     justify-items: flex-end;

    
}

.headings{
    display: flex;
      height: 150px;
      align-items: center;
      justify-content: space-around;
     
}
nav ul li a{
    font-size: 10px;
}
nav li{
    list-style: none;
}

.navbar a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding-left:20px;
   
}
.btn:hover{
    background-color:black;
    color: aliceblue;
    
}
.slidebar ul{
    padding: 0 0;
}
.slidebar li {
    margin: 0 0 ;
}

.product-div>img:hover{
    animation: rotate 1s linear ; 
    cursor: pointer;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  #container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    gap:10px;
    
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #100e0e;
}

.loader{
      width: 60px;
    height: 60px;
    border: 6px solid rgba(0, 0, 0, 0.2);
    border-right: 6px solid #3498db;
    border-left: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite, glow 0.5s alternate-reverse infinite  ;

}

/* Keyframes for rotation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes glow {
    0% { box-shadow: 1px 0 5px rgba(52, 152, 219, 0.5); }
    100% { box-shadow: 0 0 30px rgba(52, 152, 219, 1); }
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-30px)}
}
#sorting{
    display: flex;
   gap: 30px;
}
#sort{
width: 200px;
height: 40px;
background-color: grey;
font-size: 15px;
text-align: center;
border-radius: 4px;

}
#category-selector{
    height: 40px;
    width: 200px;
    padding-left: 10px;
    font-size: 15px;
    background-color: rgb(110, 108, 108);
    color: white;
     
  }
  
 

@media  (max-width:793px) {
   .none{
    display: none;
   }
   #btn{
    display: block;
   }
   /* .sort-box{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
   } */
    .sort-box{
        overflow-x: auto;
    }
  nav{
    width: 100%;
  }
    
}
@media  (min-width:793px) {
   #btn{
    display: none;
   }
    .slidebar{
        display: none;
    }
    
    
}
li i{
font-size: 20px;
color: black;
}
@media (max-width:1034px) {
    #container{
        grid-template-columns:repeat(3,1fr);
    }
   
}
@media  (max-width:793px) {
    #container{
        grid-template-columns:repeat(2,1fr);
    }
}
@media  (max-width:500px) {
    #container{
        grid-template-columns:repeat(1,1fr);
    }
   
}
