
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    display: flex;
    min-height: 100vh;
    justify-items: center;
    align-items: center;
    justify-content: center;
 }
 .container{
    
    height:300px;
    width: 400px;
    background-color: aliceblue;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border: 2px solid black;
    text-align: center;
    padding-left: 20px;
 }